QWidget{
	background-color: rgb(33, 33, 33);
	color: #FFF;
}

QTextEdit{
	background-color: rgb(46, 46, 46);	
}

QLineEdit{
    background-color: rgb(46, 46, 46);
}

QPushButton {
    background-color: rgb(120, 120, 120);
}