[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = {extras = ["express"], version = "*"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.13"
